package views

import (
	"homepage/internal/database"
)

templ Bio(content database.Content, isAdmin bool, isEditing bool) {
	@Base() {
		<div class="max-w-7xl mx-auto p-4 sm:p-6 bg-[#1e1e2e] rounded-lg shadow-lg">
			<div id="bio-content">
				@UnifiedContent(content, isAdmin, isEditing)
			</div>
		</div>
	}
}
