package views

templ Blog() {
	@Base() {
		<div class="text-left">
			<article class="prose lg:prose-xl text-blue-500">
				<div
					id="content"
					class="mt-4"
					hx-get="/blog?id=18"
					hx-trigger="load"
					hx-swap="innerHTML"
				>
					Loading content...
				</div>
			</article>
		</div>
	}
}
