package views

templ Game() {
	@Base(nil) {
		<canvas id="canvas" width="600" height="300" class="playable-canvas"></canvas>
		<script type="application/javascript" src="/assets/js/game.js"></script>
	}
}
