package views

templ Plan() {
	@Base(nil) {
		<div class="max-w-7xl mx-auto p-4">
			<div class="bg-surface0 rounded-lg shadow-lg overflow-hidden p-4">
				<div class="flex flex-col lg:flex-row justify-center">
					<div class="w-full">
						<div class="w-full mx-auto p-4 rounded-lg overflow-hidden bg-base shadow-md">
							<div class="prose lg:prose-xl max-w-full mx-auto"></div>
							<p class="text-text">À venir</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}
